/*******************************************************/
/* Copyright(c) Eureka Foundation 2025                  */
/*******************************************************/
button {
    font-family: "Arial";
    font-size: 14px;
    padding: 10px;
}

